@model IEnumerable<WebApplication1.Models.Canton>

@{
    ViewBag.Title = "Index";
}

<div class=" p-4">

    <div class="justify-content-center d-flex">
        <h3 class="url-label">Distritos</h3>
    </div>

    <div class="d-flex mb-2">
        @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-outline-primary" })
    </div>
    <hr />


    <div class="container d-flex text-center justify-content-center flex-wrap container-fluid p-0  text-center">
        @foreach (var canton in Model)
        {
            <div class="col-md-12 justify-content-center my-2 p-1 text-white " style="background-color: rgba(0,0,0,.7)">
                Canton: @canton.Name
            </div>

            <div class="container d-flex text-centerjustify-content-center container-fluid p-0  text-center">

                @if (canton.Distrits != null  && canton.Distrits.Count() > 0)
                {
                    foreach (var distrit in canton.Distrits)
                    {
                        <div class="col-xs-4 justify-content-center  border border-secondary rounded m-2 p-2">
                            <label>
                                @distrit.Name
                            </label>
                            <div class="col-xs-12 justify-content-center my-2 p-1">
                                @Html.ActionLink("Editar", "Edit", new { id = distrit.DistritId }, new { @class = "btn btn-outline-info m-1" })
                                @Html.ActionLink("Borrar", "Delete", new { id = distrit.DistritId }, new { @class = "btn btn-outline-danger delete-button" })
                            </div>
                        </div>


                    }
                }
            </div>
        }
    </div>

</div>

<hr />




@*<div class="container d-flex text-centerjustify-content-center container-fluid p-0  text-center">
        <div class="col-xs-4 m-1">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="col-xs-4 m-1">
            @Html.DisplayFor(modelItem => item.Canton.Name)
        </div>
        <div class="col-xs-4 flex-wrap d-flex">
            @Html.ActionLink("Editar", "Edit", new { id = item.DistritId }, new { @class = "btn btn-outline-info m-1" })
            @Html.ActionLink("Borrar", "Delete", new { id = item.DistritId }, new { @class = "btn btn-outline-danger delete-button" })
        </div>
    </div>*@

    </div>
