@model List<WebApplication1.Models.Canton>

@{
    ViewBag.Title = "Index";
}

<div class="p-4">

    <div class="justify-content-center d-flex">
        <h3 class="url-label">Ubicaciones</h3>
    </div>
    <div class="d-flex mb-2">
        @Html.ActionLink("Agregar ubicacion", "Create", null, new { @class = "btn btn-outline-primary" })
    </div>
    <hr />

    <div class="col-12 d-flex flex-wrap justify-content-start ">
        @foreach (var canton in Model)
        {
            <h4 class=" justify-content-start">
                <strong> @canton.Name</strong>
                &nbsp;&nbsp;
                @if (canton.Distrits.Count > 0)
                {
                    <i class="fas fa-plus " onclick="ShowMenu(@canton.CantonId)" id="@canton.CantonId-plus"></i>
                    <i class="fas fa-minus" style="display: none;" id="@canton.CantonId-minus" onclick="HideMenu(@canton.CantonId)"></i>
                }
            </h4>
            <div class="col-12 d-flex flex-wrap justify-content-start text-dark mb-3 text-center" id="@canton.CantonId" style="height: 0; overflow: hidden; transition: all 1s ease;">
                @foreach (var distrit in canton.Distrits)
                {
                    <h5>
                        <strong>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @distrit.Name
                        </strong>
                    </h5>
                    if (distrit.Ubications.Count > 0)
                    {
                        <i class="fas fa-plus " onclick="ShowMenu(@canton.CantonId@distrit.DistritId)" id="@canton.CantonId@distrit.DistritId-plus"></i>
                        <i class="fas fa-minus" style="display: none;" id="@canton.CantonId@distrit.DistritId-minus" onclick="HideMenu(@canton.CantonId@distrit.DistritId)"></i>
                    }
                    <div class="col-12 d-flex flex-wrap justify-content-start  text-secondary mb-2 text-center" style="height: 0; overflow: hidden; transition: all 1s ease;" id="@canton.CantonId@distrit.DistritId">
                        @foreach (var ub in distrit.Ubications)
                        {
                            <div class="col-12 d-flex flex-wrap  justify-content-start align-items-center  text-black-50 mb-2 text-center" id="@ub.UbicationId">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <h6><strong> @ub.Name</strong></h6>
                                @Html.ActionLink("Editar", "Edit", new { id = ub.UbicationId }, new { @class = "mx-2 btn btn-outline-secondary" })
                                <a href="/Ubications/Delete/@ub.UbicationId"><i onclick="deleteItemModal(@ub.UbicationId)" class="fas fa-trash-alt trash-button"></i></a>

                            </div>

                        }
                    </div>
                }
            </div>
        }
    </div>
    @*------------------------------------------------------------------------------------*@

    <div class="container-fluid d-flex justify-content-center" style="flex-wrap:wrap">
        @*      @foreach (var item in Model)
            {
                <div class="col-md-2 card-style p-0  shadow rounded d-flex text-center">
                    <div class="col-md-12 card-header-style">
                        <strong>@Html.DisplayFor(modelItem => item.UbicationCategory.Name)</strong>
                        <label>@item.Name</label>
                    </div>
                    <div class="col-md-12 " style="height:140px">
                        @foreach (var outstandingPicture in ViewBag.Selectedurl)
                        {
                            if (outstandingPicture.UbicationId == item.UbicationId)
                            {
                                var extension = outstandingPicture.Extension;
                                var imgSrc = String.Format("https://speoimages.blob.core.windows.net/ubicationpictures/{0}", extension);

                                <img class="rounded" src="@imgSrc" style="max-width:180px; height: 120px;">
                            }

                        }

                    </div>

                    <div class="col-md-12 icAlignStyle">

                        @foreach (var Distrit in ViewBag.DistritId)
                        {
                            string content = "";

                            if (Distrit.DistritId == item.DistritId)
                            {
                                foreach (var Canton in ViewBag.CantonId)
                                {
                                    content += Canton.CantonId == Distrit.CantonId ? Canton.Name + ", " : "";
                                }
                                content += Distrit.Name;
                                <em>@content</em>
                                break;
                            }
                        }
                    </div>
                    <div class="col-md-12 mb-3 icAlignStyle text-left " style="height: 80px;">
                        @{
                            var id = item.UbicationId;
                        }
                        <button type="button" class="btn btn-info" data-toggle="modal" onclick="fillFeaturesModal(@id, 'Caracteristicas incluidas')">
                            Caracteristicas incluidas
                        </button>

                    </div>
                    <div class="col-md-12 icAlignStyle">
                        @Html.ActionLink("Editar", "Edit", new { id = item.UbicationId }, new { @class = "btn btn-outline-secondary" })
                    </div>
                    <div class="col-md-12">
                        <span><a href="/Ubications/Delete/@id"><i onclick="deleteItemModal(@id)" class="fas fa-trash-alt trash-button"></i></a></span>
                    </div>
                </div>
            }*@
        <!-- Modal -->
        <div class="modal fade" id="UbicationFeaturesModal" tabindex="-1" role="dialog" aria-labelledby="UbicationFeaturesLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="UbicationFeatureslLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-flush" id="ModalFeaturesList">
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Listo!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/PersonalScripts/UbicationsScripts/ExpandMenu.js"></script>
<script>
    function fillFeaturesModal(UbicationId, title) {
        var modalHeader = document.getElementById("UbicationFeatureslLabel");
        var modalList = document.getElementById("ModalFeaturesList");
        modalList.innerHTML = "";
        modalHeader.innerHTML = ""

        $.ajax({
            type: "POST",
            url: '@Url.Action("FillFeaturesModal")',
            data: { UbicationId: UbicationId },
            cache: false
        })
            .then(function (data) {
                modalList.innerHTML = data;
                modalHeader.innerHTML = title;
                $("#UbicationFeaturesModal").modal();
            })
            .fail(function (data) {
                alert('No');
            })
        return false;
    }


</script>