@{
    var slogan = "";

    if (!User.IsInRole("Create"))
    {
        slogan = "Mas de 500 propiedades disponibles...";
    }
}



<!DOCTYPE html>
<html style="min-height: 100%;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="https://www.andreyquesada.com/Home/ArticleViewModel?id=116" />
    <meta property="og:type" content="article" />
    <meta property="og:image:secure_url" content="https://speoimages.blob.core.windows.net/commonimages/shutterstock_363324191.jpg" />

    <title>Propiedades Andrey Quesada</title>
    <link rel="icon" href="~/Images/logo2.png" />

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="body" style="font-family: Montserrat;">
    <div class="bg-dark position-relative" style="z-index:15; ">
        <nav class="navbar navbar-expand-lg navbar-dark nav-style mb-0">
            <div class="d-flex justify-content-center align-content-center">
                <div class="bg-light background-brand"></div>
                <a href="/" class="brand">
                    @*<img class="brand" src="~/Images/logo2.png" />*@

                    <img class="brand" src="https://speoimages.blob.core.windows.net/commonimages/shutterstock_363324191.jpg" />
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse  navbar-collapse-style" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link label-brand pt-0" style="position: relative; font-family:'Open Sans Condensed', sans-serif; width: 15vw;" href="/">
                            Propiedades
                            <span class="signature" >Andrey Quesada</span>
                        </a>

                    </li>

                    @if (User.IsInRole("Create"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ubicaciones
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Cantones", "Index", "Cantons", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Distritos", "Index", "Distrits", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Categorias de ubicacion", "Index", "UbicationCategories", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Caracteristicas de ubicacion", "Index", "UbicationFeatures", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Ubicaciones", "Index", "Ubications", null, new { @class = "dropdown-item" })

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Personas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Clientes", "Index", "Clients", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Colaboradores", "Index", "IndividualContributors", null, new { @class = "dropdown-item" })
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Articulos
                                @{
                                    var rejects = 0;
                                    if (Session["rejects"] != null)
                                    {
                                        rejects = Int32.Parse(Session["rejects"].ToString());
                                    }

                                    if (rejects > 0)
                                    {
                                        <span class="badge reject-badge badge-danger">@Session["rejects"]</span>
                                    }
                                    else
                                    {
                                        <span class="badge reject-badge"></span>
                                    }
                                }
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Caracteristicas de terreno", "Index", "TerrainFeatures", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Caracteristicas de casa", "Index", "HouseFeatures", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Articulos", "Index", "Articles", null, new { @class = "dropdown-item" })
                                <a class="dropdown-item" href="/Rejects">
                                    Rechazos
                                    @{
                                        if (rejects > 0)
                                        {
                                            <span class="badge reject-badge badge-danger">@Session["rejects"]</span>
                                        }
                                    }
                                </a>
                            </div>
                        </li>

                        if (User.IsInRole("Admin"))
                        {
                            var approves = 0;

                            if (Session["approve"] != null)
                            {
                                approves = Int32.Parse(Session["approve"].ToString());
                            }

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Seguridad
                                    @if (approves > 0)
                                    {
                                        <span class="badge approve-badge badge-danger">@Session["approve"]</span>
                                    }
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/Users">
                                        Roles
                                    </a>
                                    <a class="dropdown-item" href="/Articles/ApproveArticles">
                                        Aprobaciones

                                        @if (approves > 0)
                                        {
                                            <span class="badge approve-badge badge-danger">@Session["approve"]</span>
                                        }
                                    </a>
                                </div>
                            </li>
                        }
                    }
                    else
                    {

                <li class="nav-item ">
                    <span class="slogan" > &nbsp;&nbsp;@slogan</span>
                    @Html.ActionLink("Nuestros productos", "PropertiesView", "Home", null, new { @class = "btn btn-outline-light mx-4 py-2 px-5 " })

                </li>
                    }


                </ul>
                <div>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </div>


    <div class="container-fluid body-content p-0" style="min-height: 68vh;" id="body">
        @RenderBody()
    </div>

    <div class="footer text-center">

        <div class="container-fluid row text-light">
            <div class="col-lg-3">
                <div class="col-md-12 ">
                    <h4> Contactanos</h4>
                </div>
                <div class="col-md-12">
                    <p>
                        <strong>Email</strong>
                        <br>
                        <a class="mail" href="mailto:Quesada.realty@gmail.com">Quesada.realty@gmail.com</a>
                    </p>
                </div>
                <div class="col-md-12 ">
                    <p>
                        <strong>Telefono</strong>
                        <br>
                        +506-6046-8877<br>
                        +506-2444-7755
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="col-md-12 ">
                    <h4> Siguenos en:</h4>
                </div>
                <div class="col-md-12 ">
                    <p>
                        <img class="" src="images/facebook.svg" style="height: 50px;">
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="col-md-12 ">
                    <h4> Informacion</h4>
                </div>
                <div class="col-md-12 ">
                    <ul class="p-0">
                        <li class="list-group">Inicio</li>
                        <li class="list-group">Comprar</li>
                        <li class="list-group">alquilar</li>
                        <li class="list-group">¿Quienes somos?</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="col-md-12">
                    <h5>
                        Diseño y desarrollo por:
                    </h5>
                </div>
                <div class="col-md-12">
                    <p>
                        <img src="images/logoNebulosa.png" alt="logo" style="height: 50px; width: 150px;">
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal p-0" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba( 255, 255, 255, .5)">
        <div class="modal-dialog load-gif m-0" role="document">
            <div class="modal-content load-gif bg-transparent">
                <img class="house-gif" src="~/Images/home-solid.svg" height="100" id="house-gif" />

            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <script src="https://kit.fontawesome.com/702bfd46b2.js" crossorigin="anonymous" SameSite="None" Secure></script>

</body>
</html>
