@model WebApplication1.Models.Client

@{
    ViewBag.Title = "Delete";
}

<div class="p-4">
    <div class="justify-content-center d-flex">
        <h3 class="url-label">Clientes</h3>
    </div>

    <div>
        <hr />
        <div class="justify-content-center d-flex text-center">
            <div>
                <h5>
                    Si eliminas este cliente no sera posible recuperarlo.
                </h5>
            </div>
        </div>
        <hr />

        <div class="justify-content-center d-flex text-center">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Mail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mail)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

            </dl>
        </div>

        <div class="justify-content-center d-flex">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Borrar" class="btn btn-danger" />
                    <a href="/Clients" class="btn btn-outline-secondary">Regresar</a>
                </div>
            }
        </div>
    </div>
</div>