@model IEnumerable<WebApplication1.Models.Client>

@{
    ViewBag.Title = "Index";
}

<div class="justify-content-center d-flex">
    <h3 class="url-label">Clientes</h3>
</div>

<div class="d-flex mb-2">
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-outline-primary" })
</div>
<hr />

<div class="container row d-flex text-center">
    <div class="col-md-3 ">
        <strong>
            @Html.DisplayNameFor(model => model.Name)
        </strong>
    </div>
    <div class="col-md-3 ">
        <strong>
            @Html.DisplayNameFor(model => model.Mail)
        </strong>
    </div>
    <div class="col-md-3 ">
        <strong>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </strong>
    </div>
</div>
<hr />



@foreach (var item in Model)
{
    <div class="container row d-flex mb-3 text-center">
        <div class="col-md-3 ">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="col-md-3 ">
            @Html.DisplayFor(modelItem => item.Mail)
        </div>
        <div class="col-md-3 ">
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </div>
        <div class="col-md-3 ">
            @Html.ActionLink("Editar", "Edit", new { id = item.ClientId }, new { @class = "btn btn-outline-info" })
            @Html.ActionLink("Borrar", "Delete", new { id = item.ClientId }, new { @class = "btn btn-outline-danger delete-button" })
        </div>
    </div>
}

<hr />
