@model WebApplication1.Models.Client


<h4>Seguimiento</h4>
<hr />
<div class="form-group">
    <div class="col-md-12 d-flex flex-wrap justify-content-center">
        @foreach (var state in ViewBag.States)
        {
            if (state.ClientStateId == ViewBag.ActualState)
            {
                <label class="col-12">Estado actual: <strong>@state.Name</strong></label>
                <select class="form-control m-2" onchange='AddAction(this.value)'>
                    <option selected disabled>Agregar accion</option>

                    @foreach (var ActionState in state.StateActionState)
                    {
                        var content = ActionState.StateAction.WaitTime > 0 ? ActionState.StateAction.Name + " " + ActionState.StateAction.WaitTime + " dias" : ActionState.StateAction.Name;
                        <option class="col-12" value="@ActionState.StateActionStateId">@content</option>
                    }
                </select>
                <button type="button" class="btn btn-success m-2" data-toggle="modal" data-target="#Bitacora">
                    Bitacora
                </button>
                <table class="table mt-3 text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Accion</th>
                            <th scope="col">Mensaje</th>
                            <th scope="col">Fecha de accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var client in ViewBag.CLientStateAction)
                        {
                            if (client.StateActionState.ClientStateId == state.ClientStateId)
                            {

                                <tr>
                                    <td>
                                        @client.StateActionState.StateAction.Name
                                    </td>
                                    <td>
                                        @client.Message
                                    </td>
                                    <td>
                                        @client.JoinAction
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        }
    </div>
</div>
