@model IEnumerable<WebApplication1.ViewModel.ArticleViewModel>

<div class="justify-content-center p-2 d-flex">
    <h3 class="url-label">Aprobaciones</h3>
</div>
<hr />

<div class="d-flex flex-wrap container-fluid p-2">
    @foreach (var item in Model)
    {
        <div class="col-md-12 d-flex p-3 rounded flex-wrap mb-3 align-items-lg-start text-center">
            <div class="col-md-12 text-center approve-articles-header-container">
                <strong> @item.Article.Ubication.UbicationCategory.Name @item.Article.Ubication.Name</strong>
                <span class="p-1 rounded border ">
                    @item.Article.Code
                </span>
            </div>
            <div class="d-flex flex-wrap col-md-12 approve-articles-container p-3">
                <div class="col-md-3 border-right-gray">
                    <div class="col-md-12">
                        <h5><strong>Informacion del articulo</strong></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="backgroundless-list"><strong>Precio:</strong><br /> @item.Article.Currency@item.Article.Price</li>
                        @{
                            var areaTotalTerreno = item.Article.Terrain.ForeheadMeasure * item.Article.Terrain.BackgroundMeasure;
                        }
                        <li class="backgroundless-list"><strong>Medida de fondo:</strong><br /> @item.Article.Terrain.BackgroundMeasure Mts</li>
                        <li class="backgroundless-list"><strong>Medida de frente:</strong><br /> @item.Article.Terrain.ForeheadMeasure Mts</li>
                        <li class="backgroundless-list"><strong>Area total:</strong><br /> @areaTotalTerreno Mts²</li>
                    </ul>
                </div>
                @if (item.House != null)
                {
                    <div class="col-md-3 flex-wrap d-flex border-right-gray">
                        <div class="col-md-12">
                            <h5><strong>Informacion de casa</strong></h5>
                        </div>
                        <div class="col-md-12">
                            <ul class="list-group list-group-flush">
                                <li class="backgroundless-list"><strong>Medida de frente:</strong><br /> @item.House.HouseForeheadMeasure Mts</li>
                                <li class="backgroundless-list"><strong>Medida de fondo:</strong><br /> @item.House.HouseBackgroundMeasure Mts</li>
                                @{
                                    var areaTotalCasa = item.House.HouseForeheadMeasure * item.House.HouseBackgroundMeasure;
                                }
                                <li class="backgroundless-list"><strong>Area total:</strong><br /> @areaTotalCasa Mts²</li>
                            </ul>
                        </div>

                        <div class="col-md-12 d-flex flex-wrap">
                            <div class="col-md-3"><i class="fas fa-bath"></i> @item.House.Bathrooms</div>
                            <div class="col-md-3"><i class="fas fa-bed"></i> @item.House.Bedrooms</div>
                            <div class="col-md-3"><i class="fas fa-warehouse"></i> @item.House.Garage</div>
                            <div class="col-md-3"><i class="fab fa-buffer"></i> @item.House.Levels</div>
                        </div>

                    </div>
                }
                @if (item.HouseAux != null)
                {


                    <div class="col-md-3 flex-wrap d-flex border-right-gray">
                        <div class="col-md-12">
                            <h5><strong>Informacion de casa extra</strong></h5>
                        </div>
                        <div class="col-md-12">
                            <ul class="list-group list-group-flush">
                                <li class="backgroundless-list"><strong>Medida de frente:</strong><br /> @item.HouseAux.HouseForeheadMeasureAux Mts</li>
                                <li class="backgroundless-list"><strong>Medida de fondo:</strong><br /> @item.HouseAux.HouseBackgroundMeasureAux Mts</li>
                                @{
                                    var areaTotalCasaExtra = item.HouseAux.HouseForeheadMeasureAux * item.HouseAux.HouseBackgroundMeasureAux;
                                }
                                <li class="backgroundless-list"><strong>Area total:</strong><br /> @areaTotalCasaExtra Mts²</li>
                            </ul>
                        </div>

                        <div class="col-md-12 d-flex flex-wrap">
                            <div class="col-md-3"><i class="fas fa-bath"></i> @item.HouseAux.BathroomsAux</div>
                            <div class="col-md-3"><i class="fas fa-bed"></i> @item.HouseAux.BedroomsAux</div>
                            <div class="col-md-3"><i class="fas fa-warehouse"></i> @item.HouseAux.GarageAux</div>
                            <div class="col-md-3"><i class="fab fa-buffer"></i> @item.HouseAux.LevelsAux</div>
                        </div>

                    </div>
                }
                <div class="col-md-3">
                    @{
                        var imgSrc = String.Format("https://speoimages.blob.core.windows.net/ubicationpictures/{0}", item.OutstandingPicture.Extension);
                    }
                    <div class=" col-md-12 d-flex justify-content-center my-2">
                        <div class="rounded approve-articles-image shadow" style="background-image: url(@imgSrc)">

                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        @Html.ActionLink("Aprobar", "ApproveArticle", new { id = item.Article.Id }, new { @class = "btn btn-success mx-1" })
                        <button class="btn btn-danger mx-1" id="btnReject_@item.Article.Id" onclick="openModal(@item.Article.Id)">Rechazar</button>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Article.Id }, new { @class = "btn btn-secondary mx-1" })

                    </div>
                    <div class="col-md-12 text-center mt-2">
                        <strong>Enlistado por:</strong><br /> @item.Article.IndividualContributor.Name
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="ApproveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><strong>Razon del rechazo</strong></h5>
                <button type="button" class="close" onclick="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea class="form-control col-12" id="reason"></textarea>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="reject(this.value)" value="2" id="btnSendReject">Enviar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function closeModal() {
        var element = document.getElementById("reason");
        element.value = "";
        $('#ApproveModal').modal('hide')
    }

    function openModal(ArticleId) {
        $('#ApproveModal').modal('show');
        var btnReject = document.getElementById("btnSendReject");
        btnReject.value = ArticleId;
    }


    function reject(ArticleId) {
        var Reason = document.getElementById("reason").value;
        closeModal();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Create","Rejects")',
            data: {
                ArticleId: ArticleId,
                Reason: Reason
            },
            cache: false
        })
            .then(function (data) {
                if (data) {
                    PartialView();
                } else {
                    alert('Tuvimos un problema al realizaar el rechazo!');
                }

            })
            .fail(function (data) {
                alert('No hay comunicacion con el servidor!');

            })
           return false;
    }

    function PartialView() {
        $('#exampleModal').modal('show');
        var element = document.getElementById("body");

        $.ajax({
            type: "POST",
            url: '@Url.Action("ApproveArticlesPartialView","Articles")',
            cache: false
        })
            .then(function (data) {
                element.innerHTML = data;
                $('#exampleModal').modal('hide');
                alert("Rechazo exitoso!!");
                approveBadgeRefresh();

            })
            .fail(function (data) {
                alert('No pudimos refrescar la pagina, presiona F5 para hacerlo manual!');
                                        $('#exampleModal').modal('hide');

            })
           return false;
    }


    function approveBadgeRefresh() {
        var elements = document.getElementsByClassName("approve-badge");
        var quantity = elements[0].innerHTML - 1;

        for (var i = 0; i < elements.length; i++) {
            elements[i].innerHTML = quantity;
        }

        if (quantity < 1) {
            for (var i = 0; i < elements.length; i++) {
                elements[i].style.display = "none";
            }
        }
    }


</script>
