@model IEnumerable<WebApplication1.ViewModel.ArticleViewModel>

<div class="justify-content-center d-flex">
    <h3 class="url-label">Aprobaciones</h3>
</div>
<hr />
<div class="d-flex flex-wrap container-fluid p-2">
    @foreach (var item in Model)
    {
        <div class="col-md-12 d-flex p-3 rounded flex-wrap m-3 align-items-lg-start" style="border-bottom: 1px solid rgba(0,0,0,.125);">
            <div class="col-md-12 text-center mb-4">
                <strong> @item.Article.Ubication.UbicationCategory.Name @item.Article.Ubication.Name</strong>
                <span class="p-1 rounded border border-dark">
                    @item.Article.Code
                </span>
            </div>
            <div class="col-md-2">                
                <ul class="list-group list-group-flush">
                    <li class="backgroundless-list"><h5><strong>Informacion del articulo</strong></h5></li>
                    <li class="backgroundless-list"><strong>Precio:</strong><br /> @item.Currency@item.Article.Price</li>
                    @{
                        var areaTotalTerreno = item.Terrain.ForeheadMeasure * item.Terrain.BackgroundMeasure;
                    }
                    <li class="backgroundless-list"><strong>Medida de fondo:</strong><br /> @item.Terrain.BackgroundMeasure Mts</li>
                    <li class="backgroundless-list"><strong>Medida de frente:</strong><br /> @item.Terrain.ForeheadMeasure Mts</li>
                    <li class="backgroundless-list"><strong>Area total:</strong><br /> @areaTotalTerreno Mts²</li>
                </ul>
            </div>
            <div class="col-md-3 flex-wrap d-flex">
                <div class="col-md-4">
                    <ul class="list-group list-group-flush">
                        <li class="backgroundless-list"><strong>Baños:</strong><br /> @item.House.Bathrooms </li>
                        <li class="backgroundless-list"><strong>Cuartos:</strong><br /> @item.House.Bedrooms </li>
                        <li class="backgroundless-list"><strong>Garage:</strong><br /> @item.House.Garage </li>
                        <li class="backgroundless-list"><strong>Niveles:</strong><br /> @item.House.Levels </li>

                    </ul>
                </div>

                <div class="col-md-8">
                    <ul class="list-group list-group-flush">
                        <li class="backgroundless-list"><strong>Medida de frente:</strong><br /> @item.House.HouseForeheadMeasure Mts</li>
                        <li class="backgroundless-list"><strong>Medida de fondo:</strong><br /> @item.House.HouseBackgroundMeasure Mts</li>
                        @{
                            var areaTotalCasa = item.House.HouseForeheadMeasure * item.House.HouseBackgroundMeasure;
                        }
                        <li class="backgroundless-list"><strong>Area total:</strong><br /> @areaTotalCasa Mts²</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-3 "><label>Casa  adic.</label></div>
            <div class="col-md-2">
                @{
                    var imgSrc = String.Format("data:image/png;base64,{0}", item.OutstandingPicture);
                }
                <div class="rounded m-4 approve-articles-image shadow" style="background-image: url(@imgSrc)"></div>
                <div class="col-md-12 d-flex justify-content-center">
                    <button class="btn btn-success">Aprobar</button>
                </div>
                <div class="col-md-12 text-center mt-2">
                    <strong>Enlistado por:</strong><br /> @item.Article.IndividualContributor.Name
                </div>
            </div>
        </div>
    }
</div>
