@model WebApplication1.ViewModel.ArticleViewModel

@{
    ViewBag.Title = "ArticleViewModel";
    var imgPrimary = String.Format("data:image/png;base64,{0}", Model.OutstandingPicture);
    var areaTotal = Model.Article.Terrain.ForeheadMeasure * Model.Article.Terrain.BackgroundMeasure;
    var mts = "mts";
    var houseLegend = Model.House != null && Model.HouseAux != null ? "2 casas de habitacion" : "1 casa de habitacion";
    var imgSrc = "";

    var bathrooms = Model.HouseAux == null ? "" : Model.HouseAux.BathroomsAux.ToString();
    var bedrooms = Model.HouseAux == null ? "" : Model.HouseAux.BedroomsAux.ToString();
    var garage = Model.HouseAux == null ? "" : Model.HouseAux.GarageAux.ToString();
    var levels = Model.HouseAux == null ? "" : Model.HouseAux.LevelsAux.ToString();
    var features = Model.HouseAux == null ? new int[0] : Model.HouseAuxFeatures;
    var foreheadMeasure = Model.HouseAux == null ? "" : Model.HouseAux.HouseForeheadMeasureAux.ToString();
    var backgroundMeasure = Model.HouseAux == null ? "" : Model.HouseAux.HouseBackgroundMeasureAux.ToString();



}



<div class="flex-wrap d-flex p-4">

    <div class="col-md-7 mb-5">
        <div class="container-fluid d-flex justify-content-center  flex-wrap">
            <div class="slider-for mb-5" style="width:600px; height: 500px;">
                <div class="">
                    <img src="@imgPrimary" class="item rounded" />
                </div>
                @foreach (var picture in Model.Urls)
                {
                    imgSrc = String.Format("data:image/png;base64,{0}", picture);
                    <div class="">
                        <img src="@imgSrc" class="item rounded" />
                    </div>
                }
            </div>

            <div class="sale-@Model.Article.ArticleKind index-sale-label-body text-capitalize text-center font-weight-bold"><span class="text-light">@Model.Article.ArticleKind</span></div>
            <div class="sale-@Model.Article.ArticleKind index-sale-label-ribbon"></div>
        </div>

        <div class="container-fluid d-flex justify-content-center flex-wrap" style="margin-top: -30px;">
            <div class="slider-nav" style="width: 700px;">

                <div class="p-1">
                    <img src="@imgPrimary" class="item-gallery " />
                </div>
                @foreach (var picture in Model.Urls)
                {
                    imgSrc = String.Format("data:image/png;base64,{0}", picture);
                    <div class="p-1">
                        <img src="@imgSrc" class="item-gallery " />
                    </div>
                }
            </div>
        </div>
        <div class="col-12 d-flex flex-wrap mt-5 p-4">
            <div class="text-center col-md-12">
                <h4 class="p-3 mb-4">
                    <span class="border-dark border rounded p-2">
                        @Model.Article.Ubication.UbicationCategory.Name @Model.Article.Ubication.Name
                    </span>
                </h4>
            </div>
            <label><strong>Ubicado en: </strong>@Model.Article.Ubication.Distrit.Canton.Name, @Model.Article.Ubication.Distrit.Name.</label>
            <div class="col-12">
                <p>@Model.Article.Ubication.Description</p>
            </div>
            <label><strong>Amenidades: </strong></label>
            <div class="col-12">
                @foreach (var feature in ViewBag.UbicationFeaturesUbication)
                {
                    foreach (var featureName in ViewBag.UbicationFeatures)
                    {
                        if (feature == Int32.Parse(featureName.Value))
                        {
                            <label class="p-2 bg-success m-2 rounded text-light">@featureName.Text</label>
                        }
                    }
                }
            </div>

            <div class="col-12 p-5 mt-4">

                <div class="container-fluid d-flex justify-content-center  flex-wrap">
                    <div class="autoplay mb-5" style="width:600px; height: 400px;">
                        <div class="">
                            <img src="@imgSrc" class="item rounded" />
                        </div>
                        @foreach (var picture in Model.Urls)
                        {
                            imgSrc = String.Format("data:image/png;base64,{0}", picture);
                            <div class="">
                                <img src="@imgSrc" class=" rounded" width="600" height="400" />
                            </div>
                        }
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="col-md-5 shadow-lg rounded p-3 flex-wrap d-flex mb-5" style="height:fit-content; background-color: rgba(255, 255, 255, 0.1)">
        <div class="text-center col-md-12">
            <h4 class="border-bottom border-dark p-3 mb-4">
                <strong>Ficha técnica</strong>
                <span class="border-dark border rounded p-2">
                    @Model.Article.Code
                </span>
            </h4>

        </div>
        <div class="col-md-12 flex-wrap d-flex">
            <div class="col-12">
                <h5>Espacios</h5>
            </div>
            <div class="col-6 p-3">
                Medida de frente: <br />
                <strong>
                    @Model.Article.Terrain.ForeheadMeasure@mts
                </strong>
            </div>
            <div class="col-6 p-3">
                Medida de fondo <br />
                <strong>
                    @Model.Article.Terrain.BackgroundMeasure@mts
                </strong>
            </div>
            <div class="col-6 p-3">
                Area total <br />
                <strong>
                    @areaTotal@mts²
                </strong>
            </div>
            <div class="col-6 p-3">
                Topografia <br />
                <strong>
                    @Model.Article.Terrain.Topography.
                </strong>
            </div>
            <div class="col-12 border-dark mb-3 p-4 border-bottom">
                <p class="mb-4">El terreno cuenta con:<br /></p>
                @foreach (var feature in Model.TerrainFeatures)
                {
                    foreach (var featureName in ViewBag.TerrainFeatures)
                    {
                        if (feature == Int32.Parse(featureName.Value))
                        {
                            <label class="p-2 bg-success m-2 rounded text-light">@featureName.Text</label>
                        }
                    }
                }
            </div>
        </div>
        @if (Model.House != null)
        {

            <div class="col-md-12">
                <div class="col-12">
                    <h5>Construccion</h5>
                    <p>
                        La propiedad tiene @houseLegend
                    </p>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">
                                <img src="~/Images/home-solid.svg" width="25" height="25" />
                            </th>
                            @if (Model.HouseAux != null)
                            {
                                <th scope="col">
                                    <img src="~/Images/home-solid.svg" width="25" height="25" />
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <strong>Medida de frente</strong>
                            </th>
                            <td>@Model.House.HouseForeheadMeasure</td>
                            <td>@foreheadMeasure</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <strong> Medida de fondo</strong>
                            </th>
                            <td>@Model.House.HouseBackgroundMeasure</td>
                            <td>@backgroundMeasure</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/Images/bath-solid.svg" width="25" height="25" />
                            </th>
                            <td>@Model.House.Bathrooms</td>
                            <td>@bathrooms</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/Images/bed-solid.svg" width="25" height="25" />
                            </th>
                            <td>@Model.House.Bedrooms</td>
                            <td>@bedrooms</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/Images/warehouse-solid.svg" width="25" height="25" />
                            </th>
                            <td>@Model.House.Garage</td>
                            <td>@garage</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="~/Images/layer-group-solid.svg" width="25" height="25" />
                            </th>
                            <td>@Model.House.Levels</td>
                            <td>@levels</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Cracteristicas
                            </th>
                            <td>
                                @foreach (var feature in Model.HouseFeatures)
                                {
                                    foreach (var featureName in ViewBag.HouseFeatures)
                                    {
                                        if (feature == Int32.Parse(featureName.Value))
                                        {
                                            <label class="p-2 bg-success m-2 rounded text-light">@featureName.Text</label>
                                        }
                                    }
                                }
                            </td>
                            <td>
                                @foreach (var feature in features)
                                {
                                    foreach (var featureName in ViewBag.HouseFeatures)
                                    {
                                        if (feature == Int32.Parse(featureName.Value))
                                        {
                                            <label class="p-2 bg-success m-2 rounded text-light">@featureName.Text</label>
                                        }
                                    }
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }

    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            centerMode: true,

            asNavFor: '.slider-nav'
        });
        $('.slider-nav').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: false,
            centerMode: true,
            focusOnSelect: true
        });
        $('.autoplay').slick({
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear',
            autoplay: true,
            autoplaySpeed: 1500,
            arrows: false
        });

    });
</script>


