@model WebApplication1.Models.LandingView

@{
    var i = 1;

    foreach (var item in Model.ArticleViewModels)
    {

        var imgSrc = String.Format("data:image/png;base64,{0}", item.OutstandingPicture);

        <div class="col-md-4 mb-3 justify-content-center d-flex item index-item-container-@i">
            <div class="index-item-body">
                <div class="index-item-thumbnail">
                    <a class="index-item-link" href="Home/ArticleViewModel?id=@item.Article.Id">
                        <img class="index-item-img" src="@imgSrc" alt="Alternate Text" />

                        <div class="index-item-hover-img">
                            <span class="">Medida de frente: @item.Article.Terrain.ForeheadMeasure mts</span>
                            <span class="">Medida de fondo: @item.Article.Terrain.BackgroundMeasure mts</span>
                            <span class="">Topografia: @item.Article.Terrain.Topography</span>
                            <span class="">Agregada el: @item.Article.CreationDate</span>
                        </div>
                    </a>
                </div>

                <div class="index-item-info text-break">
                    <strong class="index-item-description text-dark"> @item.Article.Ubication.UbicationCategory.Name @item.Article.Ubication.Name, <br />@item.Article.Ubication.Distrit.Canton.Name @item.Article.Ubication.Distrit.Name</strong>
                    <span class="p-2 m-2 index-item-description">@item.Description</span>
                    <span class="index-item-house-info">
                        @if (item.HouseAux != null)
                        {
                            <i class="fas fa-bath"></i> @item.HouseAux.BathroomsAux
                            <i class="fas fa-bed"></i> @item.HouseAux.BedroomsAux
                            <i class="fas fa-warehouse"></i> @item.HouseAux.GarageAux
                            <i class="fab fa-buffer"></i> @item.HouseAux.LevelsAux
                        }
                    </span>
                    <div class="divider"></div>
                    @{
                        var initialPrice = item.Article.Price;
                        var priceSize = initialPrice.Length - 3;
                        for (int x = priceSize; x > 0; x -= 3)
                        {
                            initialPrice = initialPrice.Insert(x, ",");
                        }


                    }
                    <strong class="p-2 m-2  index-item-price" style="font-size: 25px;">@item.Currency@initialPrice</strong>
                </div>

            </div>
            <div class="sale-@item.Article.ArticleKind px-2 sale-label-body text-capitalize text-center font-weight-bold"><span class="text-light">@item.Article.ArticleKind</span></div>
        </div>

        i++;
        if (i == 4)
        {
            i = 1;
        }
    }

}

<script>

    function getIndexArticles(id) {

            $('#exampleModal').modal('show')
                    var html = document.getElementsByTagName("html")[0];
                        var topVent = html.scrollTop;

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetIndexArticles","Home")',
                data: {
                    id: id
                },
                cache: false
            })
                .then(function (data) {
                    var element = document.getElementById("IndexArticleList");
                    element.innerHTML = data;
                    var scrollY = topVent + id
                    window.scrollTo(0, scrollY);
                    $('#exampleModal').modal('hide')
                })
                .fail(function (data) {
                    alert('No hay caracteristicas que mostrar!');
                })
               return false;
    }

    function animateContent() {

            var articleToShow = document.getElementsByClassName("item");

        for (var i = 0; i < articleToShow.length; i++) {
            articleToShow[i].style.transition = "5s";
                    articleToShow[i].style.transform = "translate(0, 0)";
                    articleToShow[i].style.opacity = "1";

            }

    }

    function validateForm() {
        var valMail = /^(?:[^<>()[\].,;:\s@@']+(\.[^<>()[\].,;:\s@@']+)*|'[^\n']+')@@(?:[^<>()[\].,;:\s@@']+\.)+[^<>()[\]\.,;:\s@@']{2,63}$/i;
        var valPhone = new RegExp("^[0-9]{4}(-)+[0-9]{4}$");
        var valName = /^[A-Z]+$/i;
        var name = valName.test(document.getElementById("name").value);
        var mail = valMail.test(document.getElementById("mail").value);
        var phone = valPhone.test(document.getElementById("phone").value);
        var category = document.getElementById("UbicationCategory").value;
        var status = true;
        if (!name) {
            document.getElementById("nameError").innerHTML = "*Debe introducir un nombre valido"
            var status = false;
        }
        if (!mail) {
            document.getElementById("mailError").innerHTML = "*Debe introducir un correo valido"
            var status = false;
        }
        if (!phone) {
            document.getElementById("phoneError").innerHTML = "*Debe introducir un movil valido"
            var status = false;
        }
        if (!(category > 0)) {
            document.getElementById("categoryError").innerHTML = "*Debe seleccionar una categoria"
            var status = false;
        }

        if (status) {
            SendForm();
        }

    }

</script>