@model WebApplication1.Models.LandingView


@{
    ViewBag.Title = "Home Page";
}


<div class="container-fluid home-template" id="home-template">
</div>

<div class="col-12  form-btn-container flex-wrap form-mobile" id="form-mobile">
    <div class="col-md-12 mb-2 text-white">
        <h4>Llegaste al lugar correcto!!!</h4>

    </div>
    <div class="col-md-6 text-white " id="data-request-user">
        <p>
            <strong>
                Queremos ayudarte a encontrar la propiedad de tus sueños...
            </strong>
            <br /><br />
            Para mejorar la experiencia puedes dejarnos tus datos y en breve <br />
            estaremos en contacto contigo.
            <br /><br />

            <strong>
                Hagamoslo facil...
            </strong>
        </p>
    </div>

    <div class="col-md-6 text-white flex-wrap p-0" style="display: none;" id="form-mobile-greetings">
        <div class="col-12">
            <p>
                Gracias por darnos la oportunidad de asesorarte... <br /> <br />
                <strong>
                    No te arrepentiras!!!
                </strong>
            </p>
        </div>

        <div class="col-12">
            <small>En la parte inferior puedes ir viendo nuestros productos.</small>
        </div>
    </div>

    <div class="col-md-12 mb-3">
        <button id="formBtn" type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModalLong">
            Hagamoslo!
        </button>
    </div>

</div>

@*form*@
<div class="p-4   flex-wrap justify-content-center form-container rounded position-relative  text-white" id="form-container" tabindex="-1" role="dialog" style="display: flex;">
    <div class="col-12 form-header mb-4 text-light" id="form-header">
        <h4><strong> Queremos acompañarte en este paso tan importante...</strong></h4><br />
        <h6 class=" form-header d-flex">
            Dejanos tu contacto y haremos todo mas simple por vos.
        </h6>
    </div>
    <div class="col-md-12 m-0 p-0">
        <form class=" form-1 d-flex flex-wrap " id="form-1">
            <div class="d-flex flex-wrap">

                <div class="col-xl-6 m-0" style="height: 95px;">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control rounded" style="opacity: .7;" id="nameform-1">
                    <small class="text-danger" id="nameErrorform-1"></small>
                </div>
                <div class="col-xl-6 m-0" style="height: 95px;">
                    <label for="Email">Correo</label>
                    <input type="email" class="form-control rounded" style="opacity: .7;" id="mailform-1" aria-describedby="emailHelp">
                    <small class="text-danger" id="mailErrorform-1"></small>
                </div>
                <div class="col-xl-6 m-0" style="height: 95px;">
                    <label for="phone">Telefono</label>
                    <input type="text" class="form-control rounded" style="opacity: .7;" id="phoneform-1">
                    <small class="text-danger" id="phoneErrorform-1"></small>
                </div>
                <div class=" col-xl-6" style="height: 95px;">
                    <label for="phone">Tipo de ubicacion</label>
                    @Html.DropDownList("UbicationCategory", null, "Categorias", new { @class = "form-control", @style = "opacity: 0.7", @id = "UbicationCategory" + "form-1" })
                    <small class="text-danger" id="categoryErrorform-1"></small>
                </div>
                <div class="form-group col-12 d-flex flex-wrap p-4 rounded border-light text-center border">
                    <label class="col-12 mb-4" for="inversionRange">Rango de inversion</label><br />
                    <label class="col-12">Desde</label>
                    <div class="col-12 d-flex justify-content-center">
                        <select class="form-control col-6 dpl-form" style="opacity: .7;" onchange="rangeValue(this.value)" id="rangeFrom">
                            @for (int i = 10; i < 62; i += 2)
                            {
                                <option value="@i">¢@i,000,000</option>
                            }
                        </select>
                    </div>
                    <label class="col-12">Hasta</label>
                    <div class="col-12 d-flex justify-content-center">
                        <select class="form-control col-6 dpl-form" style="opacity: .7;" id="rangeTo">
                            @for (int i = 20; i < 62; i += 2)
                            {
                                <option value="@i">¢@i,000,000</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-12 d-flex flex-wrap justify-content-center text-center">
                    <h5 class="text-light col-12">
                        Te apuntas?
                    </h5>
                    <button type="button" class="btn btn-success" onclick="validateForm('form-1')">De acuerdo!</button>
                </div>
            </div>

        </form>
    </div>

    <h6 class="text-light success-text" id="success-text">
        <strong>TODO LISTO... </strong><br /><br />
        Tu informacion se envio correctamente,<br />
        en unas horas nuestro equipo de trabajo<br />
        se comunicara contigo.<br /><br />
        GRACIAS por dejarnos acompañarte en este proceso.<br /><br />
        <small>En la parte inferior puedes ir viendo nuestros productos.</small>
    </h6>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" sty role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document" style="background-color:rgba(0,0,0,.4)">
        <div class="modal-content" style="background-color:rgba(0,0,0,.4)">
            <div class="modal-header col-12 text-center form-header flex-wrap d-flex mb-4 p-4 text-light" id="form-header">
                <h4 class=" form-header d-flex">
                    <strong> Dejanos tu contacto y haremos <br /> todo mas simple por vos.</strong>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class=" form-1 d-flex flex-wrap text-white" id="form-2">
                    <div class="d-flex flex-wrap">

                        <div class="col-xl-6 m-0" style="height: 95px;">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control rounded" style="opacity: .7;" id="nameform-2">
                            <small class="text-danger" id="nameErrorform-2"></small>
                        </div>
                        <div class="col-xl-6 m-0" style="height: 95px;">
                            <label for="Email">Correo</label>
                            <input type="email" class="form-control rounded" style="opacity: .7;" id="mailform-2">
                            <small class="text-danger" id="mailErrorform-2"></small>
                        </div>
                        <div class="col-xl-6 m-0" style="height: 95px;">
                            <label for="phone">Telefono</label>
                            <input type="text" class="form-control rounded" style="opacity: .7;" id="phoneform-2">
                            <small class="text-danger" id="phoneErrorform-2"></small>
                        </div>
                        <div class=" col-xl-6" style="height: 95px;">
                            <label for="phone">Tipo de ubicacion</label>
                            @Html.DropDownList("UbicationCategory", null, "Categorias", new { @class = "form-control", @style = "opacity: 0.7", @id = "UbicationCategory" + "form-2" })
                            <small class="text-danger" id="categoryErrorfprm-2"></small>
                        </div>
                        <div class="form-group col-12 d-flex flex-wrap p-4 rounded border-light text-center border">
                            <label class="col-12 mb-4" for="inversionRange">Rango de inversion</label><br />
                            <label class="col-12">Desde</label>
                            <div class="col-12 d-flex justify-content-center">
                                <select class="form-control col-6 dpl-form" style="opacity: .7;" onchange="rangeValue(this.value)" id="rangeFrom">
                                    @for (int i = 10; i < 62; i += 2)
                                    {
                                        <option value="@i">¢@i,000,000</option>
                                    }
                                </select>
                            </div>
                            <label class="col-12">Hasta</label>
                            <div class="col-12 d-flex justify-content-center">
                                <select class="form-control col-6 dpl-form" style="opacity: .7;" id="rangeTo">
                                    @for (int i = 20; i < 62; i += 2)
                                    {
                                        <option value="@i">¢@i,000,000</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-12 d-flex flex-wrap justify-content-center text-center">
                            <h5 class="text-light col-12">
                                Te apuntas?
                            </h5>
                            <button type="button" class="btn btn-success" onclick="validateForm('form-2')">De acuerdo!</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@*ProductList*@
<div class="d-flex flex-wrap product-container" id="product-container">
    <div class="col-md-12 text-center text-capitalize index-items-title-container font-weight-bold">
        <h2 class="index-items-title">
            Nuestros  productos
        </h2>
        <h5 class="index-items-description">Contamos con mas de 500 propiedades en todo occidente!!!</h5>
    </div>
    <br />
    <hr />
    <div class="col-md-12 d-flex justify-content-center mb-4">
        <div class='ribbon index-items-description font-weight-bold'>
            <a onclick="getIndexArticles(1)"><span>Sobresaliente</span></a>
            <a onclick="getIndexArticles(2)"><span>Reciente</span></a>
            <a onclick="getIndexArticles(3)"><span>Oportunidades</span></a>
        </div>
    </div>
    <br />
    <br />
    <div class="col-md-12 d-flex flex-wrap index-article-container justify-content-center" id="IndexArticleList">
        @Html.Partial("IndexArticleList")

        <div class="col-md-12 d-flex justify-content-center">

            @Html.ActionLink("Ver más", "PropertiesView", "Home", null, new { @class = "btn btn-outline-success py-2 px-5 mb-3" })
        </div>
    </div>

    <br />
</div>

@*aboutus*@
<div style="background-color: #fff;" id="aboutUs">
    <div class="conocenos-animation" id="conocenos-animation">
        <div class="pt-5 d-flex justify-content-center ">
            <img class="rounded" src="~/Images/logo2.png" style="height:200px;" />
        </div>
        <div class="col-md-12">
            <h2 class="index-items-title m-4">
                Conocenos
            </h2>
        </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center mt-5 p-0  flex-wrap text-center" style=" background:linear-gradient(to bottom, white, white); overflow:hidden">

        <div class="col-md-12 p-5 d-flex  flex-wrap" id="history" style="background-color:#fff; transform: translate(980px, 0px); transition: 2s; ">
            <div class="col-md-4 index-meeting-header">
                <h2 class="index-items-title text-light m-4">
                    Nuestra historia
                </h2>
            </div>
            <div class="col-md-8 index-meeting-body">
                <p>
                    Andrey Quesada comienza su desarrollo profesional como asesor inmobiliario en el año 2011, en 
                    donde comienza a laborar con una de las empresas de mayor crecimiento y consolidación de la 
                    zona:<strong> Fusión Inmobiliaria</strong>. Es aquí donde se le otorgan grandes proyectos inmobiliarios tales como
                    Montezuma en Grecia, Hacienda Natura en Naranjo, y otros proyectos en el área de Occidente, Alajuela 
                    y Guanacaste. Sus años de experiencia y su muy exitoso desempeño, lo dirigen a la posibilidad de 
                    expansión y de ofrecerle a sus clientes diferentes opciones: tales como; lotes, fincas, quintas, 
                    locales comerciales, entre otros.  Andrey tiene la convicción de que el mejor negocio, siempre es 
                    en el que todas las partes ganan y por ello, tiene un compromiso con la satisfacción del cliente mediante 
                    el ajuste a sus preferencias, necesidades y presupuestos. En el año 2017 incursiona en el departamento de 
                    ventas del nuevo Condominio El Canal en Grecia, no solo como vendedor sino también como asesor. En el año 
                    2018 funda su propio proyecto de Bienes Raíces: <strong>Su Propiedad en Occidente</strong>, en el cual ofrece un catálogo 
                    exquisito de más de 500 propiedades y servicios de administración de condominios.
                </p>
            </div>
        </div>

        <div class="col-md-12 p-5 d-flex flex-wrap" style="background-color:#fff; transform: translate(-980px, 0px); transition: 2s; " id="experience">

            <div class="col-md-4 experience-mobile">
                <h2 class="index-items-title text-light m-4">
                    Experiencia
                </h2>
            </div>

            <div class="col-md-8 index-meeting-body">
                <p>
                    Andrey Quesada es licenciado en Administración de Empresas, posee formación en Correduría de 
                    Bienes Raíces y en Administración de Condominios por la Cámara de Corredores de Bienes Raíces 
                    de Costa Rica.  Tiene un amplio conocimiento de la zona de occidente, tanto en el ámbito 
                    comercial como inmobiliario. Tiene una participación activa en Comités de Condominios. Ha 
                    participado en las ferias más grandes del país en el sector: Expo Construcción y Expo Casa 
                    durante más de 8 años. Ha trabajado con las empresas a la vanguardia en el sector, desempeñándose
                    como un vendedor estrella. En el transcurso de 8 años ha logrado vender más de 400 propiedades. Se
                    le han otorgado el manejo de proyectos inmobiliarios de la mayor envergadura, tal como El Canal en 
                    Grecia, Prados de Toscana en Tacares, Palma Real en Grecia. Condominios que actualmente maneja. Ha 
                    fundado su propia empresa de Bienes Raíces <strong>Su Propiedad en Occidente</strong> que cuenta con una oficina ubicada 
                    425 metros al norte de la Iglesia Católica de Grecia.
                </p>
            </div>
            <div class="col-md-4  experience-desktop">
                <h2 class="index-items-title text-light m-4">
                    Experiencia
                </h2>
            </div>
        </div>
    </div>
</div>

@*agents*@
<div class=" d-flex flex-wrap container-fluid pb-3 agents pt-5" id="Agents">
    @Html.Partial("Agents")
</div>

@*Ubications*@
<div class="col-md-12 p-0 d-flex flex-wrap pt-5 mb-5" style="    background: linear-gradient(to bottom, white, #dfe6e9);">
    <div class="col-md-12 ">
        <h2 class="index-items-title text-dark m-4">
            Proyectos disponibles
        </h2>
    </div>
    <div class="col-md-12 d-flex flex-wrap justify-content-center">
        @foreach (var ubication in ViewBag.Ubications)
        {
            var imgSrc = "";
            foreach (var picture in ViewBag.UbicationPicture)
            {
                if (picture.UbicationId == ubication.UbicationId && picture.OutstandingPicture)
                {
                    imgSrc = String.Format("https://speoimages.blob.core.windows.net/ubicationpictures/{0}", picture.Extension);
                }
            }


            <div class="col-md-4">
                <div class="d-flex pb-3 flex-wrap justify-content-center mt-4 shadow-lg" style="width: inherit;">

                    <div class="" style="width: inherit;">
                        <a style="width:inherit; height: inherit;" href="#">
                            <img class="" src="@imgSrc" alt="Alternate Text" style="width: inherit; height:300px; object-fit:cover;" />
                        </a>
                    </div>

                    <div class="pt-3 col-lg-12 text-center" style="width: 90%;">
                        <strong class="text-center" style="font-size: 20px; font-family: Montserrat,sans-serif;">@ubication.UbicationCategory.Name @ubication.Name</strong>
                        <div class="divider m-3"></div>
                    </div>
                    <div class="text-justify">
                        <strong class="p-2   index-ubication-description" style="font-size: 14px;">
                            @ubication.Description
                        </strong>
                    </div>

                </div>
            </div>
        }
    </div>
</div>

@*blog*@
@*<div class="col-md-12 p-2 d-flex flex-wrap pt-5 mb-5 bg-white">

        <div class="col-md-3">

        </div>

        <div class="col-md-6 flex-wrap d-flex">

            <div class="col-md-12 text-center">

            </div>

            <div class="col-md-12 text-justify">

            </div>

        </div>
    </div>*@
<!-- Modal -->
<div class="modal p-0" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba( 255, 255, 255, .5)">
    <div class="modal-dialog load-gif m-0" role="document">
        <div class="modal-content load-gif bg-transparent">
            <img class="house-gif" src="~/Images/home-solid.svg" height="100" id="house-gif" />

        </div>
    </div>
</div>
<script>

    function variation() {
        var ContainerBegin = Containercoords.top + topVent;
        var productContainerVariation = ContainerBegin < 1062 ? ContainerBegin - 1062 : 1062 - ContainerBegin;
        var variation = 820 + productContainerVariation;

        return variation;
    }

    window.onscroll = function IsInView() {


        //Variables globales
        var html = document.getElementsByTagName("html")[0];
        var topVent = html.scrollTop;

        //animacion articulos
        var productContainer = document.getElementById("product-container");
        var productContainercoords = productContainer.getBoundingClientRect();
        var productContainerBegin = productContainercoords.top + topVent;
        var productContainerVariation =  productContainerBegin - 1062 ;
        var articleToShow = document.getElementsByClassName("item");
        var productAnimation = 820 + productContainerVariation;


        for (var i = 0; i < articleToShow.length; i++) {

            if (topVent > productAnimation) {

                articleToShow[i].style.transform = "translate(0, 0)";
                articleToShow[i].style.opacity = "1";

            }

        }


        //animacion marca

        var brand = document.getElementById("conocenos-animation");
        var brandContainercoords = brand.getBoundingClientRect();
        var brandContainerBegin = brandContainercoords.top + topVent;
        var brandContainerVariation =  brandContainerBegin - 2826 ;
        var brandAnimation = 2500 + brandContainerVariation;

        if (topVent >  brandAnimation) {

            brand.style.opacity = "1";

        }

        //animacion aboutUs

        var aboutUs = document.getElementById("history");
        var aboutUsContainercoords = aboutUs.getBoundingClientRect();
        var aboutUsContainerBegin = aboutUsContainercoords.top + topVent;
        var aboutUsContainerVariation =  aboutUsContainerBegin - 3201;
        var aboutUsAnimation = 2900 + aboutUsContainerVariation;

        if (topVent > aboutUsAnimation) {

            aboutUs.style.transform = "translate(0, 0)";
        }

        if (topVent > 3100 + aboutUsContainerVariation ) {

            document.getElementById("experience").style.transform = "translate(0, 0)";
        }

        //animacion agents
        // 1024    anm inicia  3400 ,
        // desktop anm inicia : 3721 , div inicia: 4131
        //mobile    anm inicia : 8072 , div inicia: 8367


        var agents = document.getElementById("Agents");
        var agentsToShow = document.getElementsByClassName("ic");
        var agentsContainercoords = agents.getBoundingClientRect();
        var agentsContainerBegin = agentsContainercoords.top + topVent;
        var agentsContainerVariation = agentsContainerBegin - 4134 ;
        var agentsAnimation = 3700 + agentsContainerVariation;

        for (var i = 0; i < agentsToShow.length; i++) {

            if (topVent >  agentsAnimation) {

                agentsToShow[i].style.transform = "translateZ(-100px)";
                agentsToShow[i].style.opacity = "1";

            }


        }

    }


    function rangeValue(val) {
        var start = parseInt(val);
        var element = document.getElementById("rangeTo");
        content = "";
        for (var i = start; i < 62; i += 2) {
            content +=
                `<option value="${i}">¢${i},000,000</option>`;
        }
        element.innerHTML = content;
    }


    function SendForm(id) {
        window.scrollTo(0, 0);
        $('#exampleModal').modal('show');
        var form = document.getElementById(id);
            $.ajax({
                type: "POST",
                url: '@Url.Action("ClientForm","Home")',
                data: {
                    name: form[0].value,
                    mail: form[1].value,
                    phoneNumber: form[2].value,
                    UbicationCategory: form[3].value,
                    rangeFrom: form[4].value,
                    rangeTo: form[5].value,

                },
                cache: false
            })
                .then(function (data) {
                 var response = JSON.parse(data);
                    if (response[0].Value) {
                        formOk(id);
                        $('#exampleModal').modal('hide');

                    }
                    else {
                        //alertify.success("ok")
                        //alert(response[1].Value);

                        $('#exampleModal').modal('hide');
                        document.getElementById("mailError").innerHTML = "*Este correo ya existe";
                    }

                })
                .fail(function (data) {
                    alert('No se puede enviar el formulario debido a que la conexion fallo!');
                        $('#exampleModal').modal('hide');
                })
               return false;
    }

    function formOk(id) {

        if (id == "form-1") {
            var formContainer = document.getElementById("form-container");
            var bgTemplate = document.getElementById("home-template");
            var formHeader = document.getElementById("form-header");
            var form = document.getElementById("form-1");
            var successText = document.getElementById("success-text");
            var productContainer = document.getElementById("product-container");
            successText.style.display = "block";
            bgTemplate.style.height = "700px";
            formContainer.style.transform = "rotateY(180deg)";
            formContainer.style.height = "350px";
            formHeader.style.opacity = "0";
            form.style.opacity = "0";
            successText.style.opacity = "1";
            productContainer.style.marginTop = "390px ";
        }
        else {
            var btnForm = document.getElementById("formBtn");
            btnForm.style.opacity = "0";
            var userRequestInfo = document.getElementById("data-request-user");
            var greetings = document.getElementById("form-mobile-greetings");
            greetings.style.display = "flex";
            userRequestInfo.style.display = "none";
            $('#exampleModalLong').modal('hide');

        }

    }

    function gif() {
        $('#exampleModal').modal('show')

    }

        function validateForm(id) {
        var valMail = /^(?:[^<>()[\].,;:\s@@']+(\.[^<>()[\].,;:\s@@']+)*|'[^\n']+')@@(?:[^<>()[\].,;:\s@@']+\.)+[^<>()[\]\.,;:\s@@']{2,63}$/i;
        var valPhone = new RegExp("^[0-9]{4}(-)+[0-9]{4}$");
        var valName = /^[A-Z]+$/i;
        var name = valName.test(document.getElementById(`name${id}`).value);
        var mail = valMail.test(document.getElementById(`mail${id}`).value);
        var phone = valPhone.test(document.getElementById(`phone${id}`).value);
        var category = document.getElementById(`UbicationCategory${id}`).value;
        var status = true;
        if (!name) {
            document.getElementById("nameError" + id).innerHTML = "*Debe introducir un nombre valido"
            var status = false;
        }
        if (!mail) {
            document.getElementById("mailError" + id).innerHTML = "*Debe introducir un correo valido"
            var status = false;
        }
        if (!phone) {
            document.getElementById("phoneError" + id).innerHTML = "*Debe introducir un movil valido"
            var status = false;
        }
        if (!(category > 0)) {
            document.getElementById("categoryError" + id).innerHTML = "*Debe seleccionar una categoria"
            var status = false;
        }

        if (status) {
            SendForm(id);
        }

    }

</script>
