@model IEnumerable<WebApplication1.ViewModel.ArticleViewModel>

@{
    ViewBag.Title = "PropertiesView";
}
<div class="bg-dark position-relative position-fixed" style="z-index:15; width: 100vw; top: 0; z-index:100;">
    <nav class="navbar navbar-expand-lg navbar-dark nav-style mb-0">
        <div class="d-flex justify-content-center align-content-center">
            <div class="bg-light background-brand"></div>
            <a href="/" class="brand">

                <img class="brand" src="~/Images/logo2.png" />
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse  navbar-collapse-style" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link label-brand" href="/">SU PROPIEDAD EN OCCIDENTE <span class="sr-only">(current)</span></a>
                </li>
                @if (User.IsInRole("Create"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ubicaciones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Cantones", "Index", "Cantons", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Distritos", "Index", "Distrits", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Categorias de ubicacion", "Index", "UbicationCategories", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Caracteristicas de ubicacion", "Index", "UbicationFeatures", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Ubicaciones", "Index", "Ubications", null, new { @class = "dropdown-item" })

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Personas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Clientes", "Index", "Clients", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Colaboradores", "Index", "IndividualContributors", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Articulos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Caracteristicas de terreno", "Index", "TerrainFeatures", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Caracteristicas de casa", "Index", "HouseFeatures", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Articulos", "Index", "Articles", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Seguridad
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Roles", "Index", "Users", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Aprobaciones", "ApproveArticles", "Articles", null, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                }

            </ul>
            <div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
</div>

<div class="container-fluid d-flex properties-filter flex-wrap justify-content-center py-3">

    <div class="col-md-3 text-light d-flex flex-nowrap justify-content-center">
        <div class="col-12 mb-2 justify-content-center d-flex ">
            <select class="form-control filter-element" style="font-size: 15px !important;" id="type" onchange="getParamsList(this.value)">
                <option selected disabled value="0" >Filtrar por</option>
                <option value="Ubicacion">Ubicacion</option>
                <option value="Categoria">Categoria</option>
                <option value="Tamaño">Tamaño</option>
                <option value="Precio">Precio</option>
            </select>
        </div>
    </div>

    <div class="col-md-3 flex-nowrap justify-content-center text-center " style="display: none;" id="currency">
        <div class="col-12 mb-2 justify-content-center d-flex ">
            <select class="form-control filter-element" style="font-size: 15px !important;" onchange="GetPrices(this.value)">
                <option selected disabled value="0">Moneda</option>
                <option value="¢">¢ - Colones</option>
                <option value="$">$ - Dolares</option>
            </select>
        </div>
    </div>

    <div class="col-md-3 text-light d-flex flex-nowrap justify-content-center">
        <div class="col-12 mb-2 justify-content-center d-flex ">
            <select class="form-control filter-element" style="font-size: 15px !important;" id="option" onchange="Filter(false)">
                <option selected disabled value="0">Opciones</option>
            </select>
        </div>
    </div>

    <div class="col-md-3  d-flex flex-wrap justify-content-center " style="align-content: flex-end;">
        <div class="mb-2">
            <button class="btn btn-danger filter-element" type="button" style="font-size: 15px !important;" onclick="Filter(true)">
                Reiniciar filtro
            </button>
        </div>
    </div>
</div>

<div class="p-1">

    <div class=" d-flex justify-content-center properties-head">
        <img class="rounded" src="~/Images/logo2.png" style="height:100px;" />
    </div>
    <div class="justify-content-center text-center p-4 d-flex">
        <h5>
            Tenemos mas de 500 propiedades a tu disposicion.
            <br />
            Vamos a verlas!!!
        </h5>
    </div>

    <div class="container-fluid p-0 flex-wrap d-flex justify-content-center ">

        <div class="d-flex flex-wrap col-12" id="articleListContainer">
            @Html.Partial("ArticleList")
        </div>
    </div>

</div>

<div class="modal p-0" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba( 255, 255, 255, .5)">
    <div class="modal-dialog load-gif m-0" role="document">
        <div class="modal-content load-gif bg-transparent">
            <img class="house-gif" src="~/Images/home-solid.svg" height="100" id="house-gif" />

        </div>
    </div>
</div>

<script>

    function getParams(paramsList) {
            document.getElementById("option").innerHTML = paramsList;
    }

    function GetSizes() {

        var content =
            `<option selected disabled value="0">Seleccionar tamaño</option>
              <option value="1">100mts - 300mts</option>
             <option value="2">300mts - 500mts</option>
             <option value="3">500mts - 700mts</option>
             <option value="4">700mts - En adelante</option>`

        document.getElementById("option").innerHTML = content;

    }

    function GetPrices(currency) {
                $('#exampleModal').modal('show');

        var content = "";
        if (currency == "$") {
             content =
            `<option selected disabled value="0">Seleccionar moneda</option>
             <option value="1">$20,000 - $30,000</option>
             <option value="2">$30,000 - $40,000</option>
             <option value="3">$40,000 - En adelante</option>`
        }
        else {
            content =
            `<option selected disabled value="0">Seleccionar monto</option>
             <option value="4">¢10,000,000 - ¢20,000,000</option>
             <option value="5">¢20,000,000 - ¢30,000,000</option>
             <option value="6">¢30,000,000 - En adelante</option>`
        }

        document.getElementById("option").innerHTML = content;
                $('#exampleModal').modal('hide');

    }

    function getParamsList(type) {
            $('#exampleModal').modal('show');

        document.getElementById("currency").style.display = "none";

        switch (type) {

            case "Precio":
                document.getElementById("currency").style.display = "block";
                break;
            case "Tamaño":
                GetSizes();
                break;

            default:
                 $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetParamsList","Home")',
                    data: {
                        type: type
                    },
                    cache: false
                })
                    .then(function (data) {
                        getParams(data);
                                        $('#exampleModal').modal('hide');

                    })
                    .fail(function (data) {
                        alert('No hay caracteristicas que mostrar!');
                    })

                return false;
        }

                $('#exampleModal').modal('hide');

    }

    function Filter(clean) {
        $('#exampleModal').modal('show');

        if (clean) {
            getArticles("", "");
            document.getElementById("option").innerHTML = `<option selected disabled value="0">Opciones</option>`;
            var type = document.getElementById("type").value = 0;
            document.getElementById("currency").style.display = "none";
        }
        else {
            var type = document.getElementById("type").value;
            var param = document.getElementById("option").value;
            getArticles(type, param);
        }
        $('#exampleModal').modal('hide');

    }

        function getArticles(type, param) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetArticles","Home")',
                data: {
                    type: type,
                    param: param
                },
                cache: false
            })
                .then(function (data) {
                    var element = document.getElementById("articleListContainer");
                    element.innerHTML = data;
                })
                .fail(function (data) {
                    alert('No hay caracteristicas que mostrar!');
                })
               return false;
        }


</script>