@model WebApplication1.ViewModel.UserView
@{
    ViewBag.Title = "Roles";
}

<div class="container p-4">

    <div class="justify-content-center d-flex text-center ">
        <h3 class="url-label">Roles de: @Model.Name</h3>
    </div>

    <p>
        @Html.ActionLink("Agregar Rol", "AddRole", new { userId = Model.UserID }, new { @class = "btn btn-outline-primary" })
    </p>

    <div class="d-flex container flex-wrap ">
        @foreach (var role in Model.Roles)
        {
            <div class="col-md-12 d-flex justify-content-center p-4">
                <div class="col-md-6 p-2">
                    <strong> @Html.DisplayFor(modelItem => role.Name)</strong>
                </div>
                <div class="col-md-6 p-2">
                    @Html.ActionLink("Borrar", "Delete", new { userId = Model.UserID, roleId = role.RoleID }, new { @class = "btn btn-outline-danger" })
                </div>
            </div>
            <hr />
        }
    </div>
    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-secondary" })

</div>








